<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/dashboard']">
    <img
      src="../../assets/img/logobook.png"
      width="40"
      height="30"
      alt="Site logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav list-inline">
      <li class="nav-item active list-inline-item">
        <a class="nav-link" [routerLink]="['/dashboard']">Acceuil</a>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link" [routerLink]="['/clients']">Abonnés</a>
      </li>
      <li class="nav-item list-inline-item">
        <div class="dropdown">
          <a
            class="nav-link"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Livres</a
          >
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" routerLink="/bookDashboard" >Tous les livres</a>
            <a class="dropdown-item" routerLink="/addBook">Ajouter un livre</a>
            <a class="dropdown-item" routerLink="/borrowedBook">Livres empreintés</a>
            <a class="dropdown-item" routerLink="/genre"
            >Genre de litteratures</a
          >
          </div>
        </div>
      </li>
      <li class="nav-item list-inline-item">
        <div class="dropdown">
          <a
            class="nav-link"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Gestion</a
          >
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" >Super Admin</a>
            <a class="dropdown-item" >Admin</a>
            <a class="dropdown-item" routerLink="/allCDC">CDC</a>
           
          </div>
        </div>
      </li>
      <li class="nav-item list-inline-item">
        <div class="dropdown">
          <a
            class="nav-link"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Historiques</a
          >
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" >Pret</a>
            <a class="dropdown-item" >Retour</a>
            <a class="dropdown-item" >Ajout</a>
            <a class="dropdown-item" >Suppression</a>
          </div>
        </div>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link">Statistiques</a>
      </li>
    </ul>
    <div class="filler"></div>
    <ul class="navbar-nav list-inline">
      <li class="nav-item list-inline-item">
        <a class="nav-link">Notifications</a>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link">Connexion</a>
      </li><li class="nav-item list-inline-item">
        <a class="nav-link">Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>
