<div class="row">
  <div class="col-sm-12"   >
        <mat-toolbar>
                <button class="btn btn-outline-success">Envoyer un message</button>
                <button class="btn btn-outline-primary">Envoyer un mail</button>
        </mat-toolbar>
  </div>
        <div class="col-md-6 col-sm-12">
          <form>
      
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Ecrivez votre mail" type="text" name="" id="" cols="30" rows="10"></textarea>
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Ecrivez votre sms" type="text" name="" id="" cols="30" rows="10"></textarea>
            </mat-form-field>
      
          </form>
        </div>
      </div>
      