<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="card">
      <h1 class="card-header">Abonnés</h1>
      <div class="card-body menuB">
        <button class="btn btn-outline-success " routerLink="/addUser">
          Ajouter un abonné
        </button>
        <button class="btn btn-outline-danger" routerLink="/notifs">
          Envoyer une notification
        </button>
      </div>
      <form
        class="form-check-inline card-body"
        [formGroup]="searchForm"
      >
        <input
          class="form-control"
          formControlName="letter"
          type="search"
          placeholder="Rechercher un abonné"
          aria-label="Rechercher"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          [disabled]="searchForm.invalid"
          (click)="search()"
        >
          Rechercher
        </button>
        <button
        class="btn btn-outline-danger"
        [disabled]="searchForm.invalid"
        (click)="Users= []"
      >
        Effacer
      </button>
      </form>
    </div>
    <div v-if="searchResults">
      <mat-nav-list>
        <mat-list-item *ngFor="let user of Users">
          <table>
            <tr>
              <td>
                <span>{{ user.name }}</span>
              </td>
              <td>
                <button
                  (click)="details(user.idUser)"
                  class="btn btn-group btn-outline-primary"
                >
                  Consulter
                </button>
              </td>
            </tr>
          </table>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div class="col-sm-12 col-md-10">
    <div class="card">
      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
      >
      </mat-paginator>
      <div class="example-container mat-elevation-z8 card-body">
        <mat-table [dataSource]="datasource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Nom
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="genre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Genre
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.genre }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Age
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.age }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Action
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button
                (click)="details(row.idUser)"
                class="btn btn-group btn-outline-primary"
              >
                Consulter
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
