.img{
    width: 50%;
    height: auto;
}
table{
    width: auto;
}
.entete{
    display: flex;
    width: auto;
    
}
button,form {
        margin: 1%;
}
.menuB{
    display: flex;
    justify-content: space-around;
}