  <div class="row">
    <div class="col-md-6 col-sm-12">

      <table>
        <tbody>
          <tr>
            <td>
              <button class="btn btn-outline-success " routerLink="/addUser"> Ajouter un client</button>
            </td>
            <td>
              <button class="btn btn-outline-success" routerLink="/notifs" > Envoyer une notification globale</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-12">
      <form class="form-check-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un client" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>


  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="table-responsive">
        <table class="table table-r">
          <thead>
            <th></th>
            <th>Nom</th>
            <th>Age</th>
          </thead>
          <tbody>
            <tr routerLink="/client">
              <td>
                  <img class=" img img-thumbnail   rounded-circle" src="./assets/img/faces/marc.jpg" />
              
              </td>
              <td>
                Alec Thompson
              <td>30</td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">
                  <img class="img img-thumbnail rounded-circle" src="./assets/img/faces/marc.jpg" />
                </a>
              </td>
              <td>
                Alec Thompson
              <td>30</td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">
                  <img class="img img-thumbnail rounded-circle" src="./assets/img/faces/marc.jpg" />
                </a>
              </td>
              <td>
                Alec Thompson
              <td>30</td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">
                  <img class="img img-thumbnail rounded-circle" src="./assets/img/faces/marc.jpg" />
                </a>
              </td>
              <td>
                Alec Thompson
              <td>30</td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">
                  <img class="img img-thumbnail rounded-circle" src="./assets/img/faces/marc.jpg" />
                </a>
              </td>
              <td>
                Alec Thompson
              <td>30</td>
            </tr>
            <tr>
              <td>
                <a href="javascript:void(0)">
                  <img class="img img-thumbnail rounded-circle" src="./assets/img/faces/marc.jpg" />
                </a>
              </td>
              <td>
                Alec Thompson
              <td>30</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
