<div class="col-md-8">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Abonné</h4>
      <p class="card-category">Ajout d'un nouveau abonné</p>
    </div>
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="name"
                  placeholder="Nom complet"
                  type="text"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="email"
                  placeholder="Addresse email"
                  type="email"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="age"
                  placeholder="Age"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="address"
                  placeholder="Addresse complete"
                  type="text"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="number"
                  placeholder="Numero"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Genre</label>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-select
                  matInput
                  formControlName="genre"
                  name="genre"
                  id="genre"
                >
                  <mat-option value="Garcon">Garcon</mat-option>
                  <mat-option value="Fille">Fille</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group" id="pic">
          <label for="file" class="disappear">Ajouter une photo</label>
          <input
            type="file"
            class="disappear"
            (change)="upload($event)"
            accept=".png,.jpg"
          />
        </div>

        <button
          mat-raised-button
          type="submit"
          class="btn btn-danger pull-right"
        >
          Ajouter l'abonné
        </button>
        <div class="clearfix"></div>
      </form>
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>
</div>
