<div class="col-md-8" id="normal" *ngIf="!canModify">
  <div class="card">
    <div class="card-header card-header-danger">
      <p class="card-category">Fiche du centre</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Nom du CDC</h5>
            <p class="card-text">{{ Cdc.name }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">Addresse du CDC</h5>
            <p class="card-text">{{ Cdc.address }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Numero du CDC</h5>
            <p class="card-text">{{ Cdc.number }}</p>
          </div>
        </div>
      </div>

      <button
        mat-raised-button
        type="submit"
        (click)="modify()"
        class="btn btn-outline-info pull-right"
      >
        Modifier les informations
      </button>
      <button
        mat-raised-button
        type="submit"
        (click)="delete()"
        class="btn btn-outline-danger pull-right"
      >
        Supprimer le CDC
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="col-md-8" id="modify" *ngIf="canModify">
  <div class="card">
    <div class="card-header card-header-danger">
      <p class="card-category">Modifier le CDC</p>
    </div>
    <div class="card-body">
      <form [formGroup]="cdcForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field class="form-group">
                <input
                  matInput
                  formControlName="name"
                  placeholder="Nom du CDC"
                  type="text"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <mat-form-field class="form-group">
                <input
                  matInput
                  formControlName="address"
                  placeholder="Addresse du CDC"
                  type="text"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field class="form-group">
                <input
                  matInput
                  formControlName="number"
                  placeholder="Numero du CDC"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <button
          mat-raised-button
          type="submit"
          class="btn btn-danger pull-right"
          (click)="onSubmit()"
        >
          Modifier
        </button>
        <button
          mat-raised-button
          type="submit"
          class="btn btn-danger pull-right"
          (click)="cancel()"
        >
          Annuler
        </button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
