<div class="row">
  <div class="col-md-12 col-lg-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="javascript:void(0)">
          <img class="img img-thumbnail rounded-circle" [src]="User?.image" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">{{User?.idCDC}}</h6>
        <h4 class="card-title">{{User?.name}}</h4>
        Age: {{User?.age}} <br>
        Sexe: {{User?.genre}} <br>
        Addresse: {{User?.address}}<br>
        Numero: {{User?.number}}<br>

        <a href="javascript:void(0)" class="btn btn-danger btn-round" routerLink="/singleNotif">Envoyer une
          notification</a>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="row">
      <div class="col-sm-12">
        <mat-toolbar>
          Livres lus
        </mat-toolbar>
      </div>
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
            <tr class=" small">
              <th scope="col">#</th>
              <th scope="col">Titre</th>
              <th scope="col">Genre</th>
              <th scope="col">Auteur</th>
              <th scope="col">Date d'empeint</th>
              <th scope="col">Date de retour</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of myBooks; let i = index" class="small">
              <td>{{ i + 1 }}</td>
              <td>{{ book?.title }}</td>
              <td>{{ book?.genre }}</td>
              <td>{{ book?.author }}</td>
              <td>{{ book?.borrowDate }}</td>
              <td>{{ book?.returnDate }}</td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Angular 8 pagination -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"></canvas>
    </div>
  </div>
</div>