<div class="row">
  <div class="col-md-12 col-lg-4">
    <div class="card card-profile">
      <div class="card-body">
        <mat-nav-list>
          <mat-list-item>
          </mat-list-item>
          <mat-list-item class="card-header text-center">
            <h4 >{{ User?.firstName }} {{ User?.lastName }}</h4>
          </mat-list-item>
          <mat-list-item> Email: {{ User?.email }}  </mat-list-item>
        </mat-nav-list>

        <!-- <a
          class="btn btn-danger btn-round"
          (click)="message = true"
          >Envoyer une notification</a
        > -->
      </div>
    </div>
    <app-single-message *ngIf="message" ></app-single-message>
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="row">
      <div class="col-sm-12">
        <mat-toolbar>
          Livres lus
        </mat-toolbar>
      </div>
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
            <tr class=" small">
              <th scope="col">#</th>
              <th scope="col">Titre</th>
              <th scope="col">Genre</th>
              <th scope="col">Auteur</th>
              <th scope="col">Date d'empeint</th>
              <th scope="col">Date de retour</th>
              <th scope="col">Rendu</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of myBooks; let i = index" class="small">
              <td>{{ i + 1 }}</td>
              <td>{{ book?.book?.title }}</td>
              <td>{{ book?.genre?.name }}</td>
              <td>{{ book?.book?.author }}</td>
              <td>{{ book?.borrowDate }}</td>
              <td>{{ book?.returnDate }}</td>
              <td *ngIf="book?.returned === 1" class=" bg-success text-light">Oui</td>
              <td *ngIf="book?.returned === 0" class=" bg-danger text-light">Non</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Angular 8 pagination -->
  </div>
</div>

