<div class="row">
  <div class="col-md-12 col-lg-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="javascript:void(0)">
          <img class="img img-thumbnail rounded-circle" src="./assets/img/faces/marc.jpg" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">CDC Q6</h6>
        <h4 class="card-title">Ahmed Houssein</h4>
        Date de naissance: 1/1/2001 <br>
        Sexe: Masculin <br>
        Addresse: Q6 rue 123<br>
        Numero: 88888888<br>

        <a href="javascript:void(0)" class="btn btn-danger btn-round" routerLink="/singleNotif">Envoyer une
          notification</a>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="row">
      <div class="col-sm-12">
        <mat-toolbar>
          Livres lus
        </mat-toolbar>
      </div>
      <div class="col-sm-12">
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
        </mat-paginator>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du livre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="DD">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'empreint </th>
            <td mat-cell *matCellDef="let element"> {{element.DD}} </td>
          </ng-container>

          <ng-container matColumnDef="DR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de retour </th>
            <td mat-cell *matCellDef="let element"> {{element.DR}} </td>
          </ng-container>
          <ng-container matColumnDef="Agent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reprit par</th>
            <td mat-cell *matCellDef="let element"> {{element.Agent}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

    <!-- Angular 8 pagination -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"></canvas>
    </div>
  </div>
</div>