mat-card{
    background-color: transparent;
    text-align: center;

  }
  .imgWrapper{
    max-height: 400px;
    max-width: 200px;

  }
  .imgCarousel{
    height: 100%;
    width: 100%;
margin: auto;
display: block;  }