<div class="row">
  <div class="col-sm-12 col-md-10">
    <div class="card">
      <div class="card-body">
        <owl-carousel-o [options]="customOptions">
          <ng-template
            carouselSlide
            *ngFor="let book of books"
            [id]="book.idBook"
          >
            <div class="imgCarousel">
              <img [src]="book.image" [title]="book.title" />
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
      >
      </mat-paginator>
      <div class="example-container mat-elevation-z8 card-body">
        <mat-table [dataSource]="datasource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Nom
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Auteur
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.author }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Année
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.year }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Action
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button
                [routerLink]="['/book', row.idBook]"
                class="btn btn-outline-info"
              >
                Consulter
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
