<nav class="navbar navbar-expand-md  bg-light">
  <a class="navbar-brand">
    <img src="../../assets/img/logo.png" width="40" height="30" alt="sejs logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav list-inline">
      <li class="nav-item active list-inline-item">
        <a class="nav-link ">Tous les CDC</a>
      </li>
          <div class="filler"></div>

      <li class="nav-item list-inline-item">
        <a class="nav-link ">Djibouti</a>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link ">Arta</a>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link ">Tadjourah</a>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link ">Ali-Sabieh</a>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link ">Obock</a>
      </li>
      <li class="nav-item list-inline-item">
        <a class="nav-link ">Dikhil</a>
      </li>
    </ul>
  </div>
</nav>
