<div class="dashboard">
  <div class="row" *ngIf="isAuth">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats border-success">
        <div class="card-body d-flex justify-content-between border-success ">
          <div>
            <img src="../../assets/img/books.png" alt="" style="height: 50px;width: 50px;" />
          </div>
          <div class=" text-right">
            <h6 class=" card-subtitle text-secondary">Nombre de livres total</h6>
            <h4 class="card-title">{{bookNumber}}</h4>
          </div>
        </div>
        <div class="card-footer border-success ">
          <hr class="border-success" />
          <button class="btn btn-group mat-raised-button btn-success" routerLink="/bookDashboard">
            Consulter
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats border-info">
        <div class="card-body d-flex justify-content-between border-info ">
          <div>
            <img src="../../assets/img/users.png" alt="" style="height: 50px;width: 50px;" />
          </div>
          <div class=" text-right">
            <h6 class=" card-subtitle text-secondary">Nombre d'abonnés</h6>
            <h4 class="card-title">{{clientNumber}}</h4>
          </div>
        </div>
        <div class="card-footer border-info ">
          <hr class="border-success" />
          <button class="btn btn-group mat-raised-button btn-info" routerLink="/clients">
            Consulter
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats border-success">
        <div class="card-body d-flex justify-content-between border-danger ">
          <div>
            <img src="../../assets/img/bookabsent.png" alt="" style="height: 50px;width: 50px;" />
          </div>
          <div class=" text-right">
            <h6 class=" card-subtitle text-secondary">Livres empreintés</h6>
            <h4 class="card-title">{{borrowBookNumber}}</h4>
          </div>
        </div>
        <div class="card-footer border-danger ">
          <hr class="border-danger" />
          <button class="btn btn-group mat-raised-button btn-danger" routerLink="/borrowedBook">
            Consulter
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats border-warning">
        <div class="card-body d-flex justify-content-between border-warning ">
          <div>
            <img src="../../assets/img/cdc.png" alt="" style="height: 50px;width: 50px;" />
          </div>
        </div>
        <div class="card-footer border-warning ">
          Connecté en tant que : {{userName}}
          <hr class="border-warning" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 info">
      <p>Hello, this is a little application I made to show off my Angular9 and springBoot skills.
      </p>
<p>It's a debut of a library application. In this little application, you can create new client, new types of books(genres) and then attribute some books to those types.
  Client can borrow books and you can register a book as "returned" if the client give it back.</p>

<p>For the front-end I used Angular, bootstrap, Angular material and a chart. This app had firebase as a backend before to execute CRUD operations, but i changed it to Spring boot.
</p>
<p>The back-end now, use spring-rest, spring-data-jpa, hibernate, spring-security and jwt.
  But to visit, you have to authenticate first!</p>
<table class="table col-md-3">
  <tr>
    <td class="font-weight-bold">username:</td>
    <td>ashraf</td>
  </tr>
  <tr>
    <td class="font-weight-bold">password:</td>
    <td>spring-boot</td>
  </tr>
</table>

 PS: the app is in French, I hope you don't get lost.
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Historiques</h5>
          <p class="card-category">Les dernieres interactions</p>
        </div>
        <div class="card-body ">
          <canvas id="chartEmail"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">Livres</h5>
          <p class="card-category">Frequence d'empreint des livres</p>
        </div>
        <div class="card-body">
          <ngx-charts-line-chart style="min-width: 100%; height: 100%;" [view]="view" [scheme]="colorScheme"
            [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
            [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi"
            (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div> -->
</div>
