.row {
  margin: 30px;
}
form{
    width: 100%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
div{
  margin: 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon:hover {
 background: linear-gradient(#eceef1, #9e8652, transparent), url('../../assets/img/bg.jpg') no-repeat center;
  color: blanchedalmond;
}

.menu {
  width: 50%;
  height: auto;
}

.r0 {
  justify-content: center;
  align-content: center;
  background-size: cover;
}

.f1 {
  width: 100%;
}

.r1 {
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.r2 {
  background-image: linear-gradient(to left, rgb(80, 80, 247), white);
  height: 60vh;

}
