<div class="row r1">
  <div class="col-md-2 col-sm-12" routerLink="/clients">
    <mat-card class="icon">
      <mat-card-header>
        <mat-card-title>
          Abonnés
        </mat-card-title>
      </mat-card-header>
      <img
        mat-mat-card-image
        src="../../assets/img/person.png"
        class=" img-fluid menu"
        alt=""
      />
    </mat-card>
  </div>
  <div class=" col-md-2 col-sm-12" routerLink="/bookDashboard">
    <mat-card class="icon">
      <mat-card-header>
        <mat-card-title>
          Livres
        </mat-card-title>
      </mat-card-header>
      <img
        mat-mat-card-image
        srcset="../../assets/img/books1.png"
        class=" img-fluid menu"
        alt=""
      />
    </mat-card>
  </div>
  <div class="col-md-2 col-sm-12" routerLink="/GS">
    <mat-card class="icon">
      <mat-card-header>
        <mat-card-title> Statistiques </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/img/stats.png"
        class="  menu"
        alt=""
      />
    </mat-card>
  </div>
</div>
