
  <div class="row r1">
    <div class="col-md-2 col-sm-12" routerLink="/clients">
      <mat-card class="icon">
          <h2>Abonnés</h2>
        <img mat-mat-card-image src="../../assets/img/person.png" class=" img-fluid menu" alt="">
      </mat-card>
    </div>
    <div class=" col-md-2 col-sm-12"  routerLink="/bookDashboard">
      <mat-card class="icon">
          <h2>Livres</h2>
        <img mat-mat-card-image srcset="../../assets/img/books1.png" class=" img-fluid menu" alt="">
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-12" routerLink="/GS" >
      <mat-card class="icon">
          <h2>Statistiques</h2>
        <img mat-mat-card-image src="../../assets/img/stats.png" class=" img-fluid menu" alt="">
      </mat-card>
    </div>
    
