<div class="row">
  <div class="col-md-8">
    <div class="card">
      <h4 class="card-title card-header bg-dark text-light">
        Ajouter un livre
      </h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 form-group">
              <mat-form-field>
              <input matInput formControlName="title" placeholder="Titre" />
            </mat-form-field>
              
          </div>
          <div class="col-md-4 form-group">
              <mat-form-field>
              <input matInput formControlName="author" placeholder="Auteur" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
              <mat-form-field>
              <input
                matInput
                formControlName="year"
                placeholder="Année"
                type="number"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
              <mat-form-field>
              <input
                matInput
                formControlName="sNumber"
                placeholder="Numero de serie"
                type="number"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 form-group">
            <label>Genre</label>
              <mat-form-field>
              <mat-select
                matInput
                formControlName="genre"
                name="Genre"
                id="genre"
              >
                <mat-option *ngFor="let genre of genres" [value]="genre.name">{{
                  genre.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="form-group" id="pic">
              <label for="file" class="disappear">Ajouter une photo</label>
              <input
                type="file"
                class="disappear"
                (change)="upload($event)"
                accept=".png,.jpg"
              />
            </div>

            <button
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
              [disabled]="bookForm.invalid"
              class=" center"
            >
              Ajouter le livre
            </button>
          </div>
        </div>

        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
