<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="card card-profile">
      <div class="card-avatar imgWrapper">
        <img class="imgCarousel" [src]="book?.image" />
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">{{ book?.idCDC }} -- Status: <span *ngIf="book?.disponible == 1" class="text-success">Disponible</span>
            <span class="text-danger" *ngIf="book?.disponible !==1">Non disponible</span></h6>
        <h4 class="card-title">{{ book?.title }}</h4>
        Auteur: {{ book?.author }} <br />
        Année: {{ book?.year }} <br />
        Genre: {{ book?.genre.name }}<br />

        <a *ngIf="book?.disponible"
          class="btn btn-danger btn-round"
          (click)="borrow = true"
          >Preter</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <mat-toolbar>
      Historique du Livre
    </mat-toolbar>
    <table class="table table-striped">
      <thead>
        <tr class=" small">
          <th scope="col">#</th>
          <th scope="col">Empreinté par</th>
          <th scope="col">Date d'empeint</th>
          <th scope="col">Date de retour</th>
          <th scope="col">Preté par</th>
          <th scope="col">Rendu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pret of prets; let i = index" class="small">
          <td>{{ i + 1 }}</td>
          <td>{{ pret?.client.firstName }} {{ pret?.client.lastName }}</td>
          <td>{{ pret?.borrowDate }}</td>
          <td>{{ pret?.returnDate }}</td>
          <td>{{ pret?.user.username }}</td>
          <td *ngIf="pret?.returned === 1" class=" bg-success text-light">Oui</td>
          <td *ngIf="pret?.returned === 0" class=" bg-danger text-light">Non</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12">
    <app-borrow-book *ngIf="borrow" [book]="book" (borrowed)="borrow = false;"></app-borrow-book>
  </div>
</div>
