
mat-card {
  text-align: center;
}
button{
    width: auto;
    height: auto;
}


mat-card{
  background-color: transparent;
}
///////////::*

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}