<div class="row">
  <div class="col-sm-12 col-md-2 card bg-dark text-light" style="margin-top: 10px;">
    <h5 type="button" class="card-header" (click)="displayAll()">
      Tous les livres
    </h5>
    <div class="dropdown-divider"></div>
    <ul class="list-group">
      <li
        type="button"
        class=" list-group-item bg-dark btn-outline-danger text-light"
        *ngFor="let genre of genres"
        (click)="display(genre.id)"
      >
        {{ genre.name }}
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-10">
    <div *ngIf="allBooks" class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <h4 class="card-header bg-dark text-light">Livres</h4>
          <div class="card-body menuB">
            <button
              class="btn  mat-raised-button btn-success "
              routerLink="/addBook"
            >
              Ajouter un livre
            </button>
            <button
              class="btn  mat-raised-button btn-outline-danger"
              routerLink="/borrowedBook"
            >
              Livres empreintés
            </button>
          </div>
          <form class="form-check-inline card-body" [formGroup]="searchForm">
            <input
              class="form-control"
              formControlName="letter"
              type="text"
              placeholder="Rechercher un livre"
              aria-label="Rechercher"
            />
            <button
              class="btn btn-outline-success"
              type="submit"
              [disabled]="searchForm.invalid"
              (click)="search()"
            >
              Rechercher
            </button>
            <button
              class="btn btn-outline-danger"
              [disabled]="searchForm.invalid"
              (click)="initForm()"
            >
              Effacer
            </button>
          </form>
          <button class="btn btn-group btn-danger" *ngIf="errorMessage && !searchResults">
            Aucun livre trouvé
          </button>
          <div *ngIf="searchResults">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of Books; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ book.title }}</td>
                  <td>
                    <button
                      (click)="details(book.idBook)"
                      class="btn btn-group btn-outline-primary"
                    >
                      Consulter
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12 col-md-12" *ngIf="search">
            <mat-paginator
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              showFirstLastButtons
            >
            </mat-paginator>
            <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="datasource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Titre
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="author">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Auteur
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.author }} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="genre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Genre
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.genre.name }} </mat-cell>
                </ng-container>
                <!-- action Column -->
                <ng-container matColumnDef="Action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Action
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="d-flex justify-content-around">
                    <button
                      [routerLink]="['/book', row.id]"
                      class="btn btn-outline-info small p-2"
                    >
                      Check
                    </button>
                    <button
                 (click)="delete(row.id)"
                    class="btn btn-danger small p-2"
                  >
                    Delete
                  </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
              </mat-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-livres *ngIf="specificBooks" [genreId]="bookGenreId"></app-livres>
  </div>
</div>
