<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="card">
      <h1 class="card-header">Livres empreintés</h1>

      <form class="form-check-inline my-2 my-lg-0 card-body">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un livre" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="all" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ID}} </mat-cell>
        </ng-container>

        <!-- Nom du livre Column -->
        <ng-container matColumnDef="NameL">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nom du livre </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.NameL}} </mat-cell>
        </ng-container>

        <!-- nom de l'abonnée Column -->
        <ng-container matColumnDef="NameA">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'abonné </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.NameA}} </mat-cell>
        </ng-container>

        <!-- date d'empreint Column -->
        <ng-container matColumnDef="DD">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date d'empreint </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.DD}} </mat-cell>
        </ng-container>
        <!-- date de retour Column -->
        <ng-container matColumnDef="DR">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date de retour </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.DR}} </mat-cell>

        </ng-container>

        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let row"> <button (tap)=rendu(row.ID) class="btn btn-outline-success">Rendu</button>
           <button class="btn btn-outline-danger">Notifier</button> </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
  </div>
</div>
